{{define "title"}} {{end}}
{{define "content"}}

<div class="shopping-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="location">
                    <ul>
                        <li><a href="index.html" title="go to homepage">Home<span>/</span></a>  </li>
                        <li><strong>Register page</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="login-area ptb-120">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>Register</h2>
                            <span>Please Register using account detail bellow.</span>
                        </div>
                        <div class="login-form">
                            <form action="/register" method="post">
                                <input type="text" name="username" placeholder="Username">
                                <input type="password" name="password" placeholder="Password">
                                <input name="mail" placeholder="Email" type="email">
                                <input name="fullname" placeholder="Fullname" type="text">
                                <input name="address" placeholder="Address" type="text">
                                {{ .csrfField }}
                                <div class="button-box">
                                    <button type="submit" class="default-btn">Register</button>
                                </div>
                            </form>
                        </div>
                        <br/>
                    <br/>
                    <div class="row">
                        {{if .sessionFlash}}
                        <div class="alert alert-danger">
                            {{index .sessionFlash 0}}       
                        </div>
                        {{end}}
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}