
{{ define "title" }}{{.Title}}{{ end }}
{{ define "content" }}
<!-- cart item area start -->
<div class="shopping-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="location">
                    <ul>
                        <li><a href="index.html" title="go to homepage">Home<span>/</span></a>  </li>
                        <li><strong> Shopping cart</strong></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table-bordered table table-hover">
                        <thead>
                            <tr>
                                <th class="cart-item-img"></th>
                                <th class="cart-product-name">Product Name</th>
                                <th class="edit"></th>
                                <th class="move-wishlist">Move to Wishlist</th>
                                <th class="unit-price">Unit Price</th>
                                <th class="quantity">Qty</th>
                                <th class="subtotal">Subtotal</th>
                                <th class="remove-icon"></th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <td class="cart-item-img">
                                    <a href="single-product.html">
                                        <img src="img/cart/3.png" alt="">
                                    </a>
                                </td>
                                <td class="cart-product-name">
                                    <a href="single-product.html">Cras neque metus</a>
                                </td>
                                <td class="edit">
                                    <a href="#">Edit</a>
                                </td>
                                <td class="move-wishlist">
                                    <a href="#">Move</a>
                                </td>
                                <td class="unit-price">
                                    <span>$174.00</span>
                                </td>
                                <td class="quantity">
                                    <span>1</span>
                                </td>
                                <td class="subtotal">
                                    <span>$174.00</span>
                                </td>
                                <td class="remove-icon">
                                    <a href="#">
                                        <img src="img/cart/btn_remove.png" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="cart-item-img">
                                    <a href="single-product.html">
                                        <img src="img/cart/4.png" alt="">
                                    </a>
                                </td>
                                <td class="cart-product-name">
                                    <a href="single-product.html">Cras neque metus</a>
                                </td>
                                <td class="edit">
                                    <a href="#">Edit</a>
                                </td>
                                <td class="move-wishlist">
                                    <a href="#">Move</a>
                                </td>
                                <td class="unit-price">
                                    <span>$174.00</span>
                                </td>
                                <td class="quantity">
                                    <span>1</span>
                                </td>
                                <td class="subtotal">
                                    <span>$174.00</span>
                                </td>
                                <td class="remove-icon">
                                    <a href="#">
                                        <img src="img/cart/btn_remove.png" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="cart-item-img">
                                    <a href="single-product.html">
                                        <img src="img/cart/5.png" alt="">
                                    </a>
                                </td>
                                <td class="cart-product-name">
                                    <a href="single-product.html">Cras neque metus</a>
                                </td>
                                <td class="edit">
                                    <a href="#">Edit</a>
                                </td>
                                <td class="move-wishlist">
                                    <a href="#">Move</a>
                                </td>
                                <td class="unit-price">
                                    <span>$275.00</span>
                                </td>
                                <td class="quantity">
                                    <span>2</span>
                                </td>
                                <td class="subtotal">
                                    <span>$350.00</span>
                                </td>
                                <td class="remove-icon">
                                    <a href="#">
                                        <img src="img/cart/btn_remove.png" alt="">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="shopping-button">
                        <div class="continue-shopping">
                            <button type="submit">continue shopping</button>
                        </div>
                        <div class="shopping-cart-left">
                            <button type="submit">Clear Shopping Cart</button>
                            <button type="submit">Update Shopping Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <div class="totals">
                    <p>subtotal <span>$1,540.00</span> </p>
                    <h3>Grand Total <span>$1,540.00</span></h3>
                    <div class="shopping-button">
                        <button type="submit">proceed to checkout</button>
                    </div>
                    <a href="#">Checkout with Multiple Addresses</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- cart item area end -->
{{end}}