
{{ define "title" }}{{.Title}}{{ end }}
{{ define "content" }}
<!-- cart item area start -->
<div class="shopping-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="location">
                    <ul>
                        <li><a href="index.html" title="go to homepage">Home<span>/</span></a>  </li>
                        <li><strong> Shopping cart</strong></li>
                    </ul>
                </div>
            </div>
        </div>
        <form action="/checkout" method="post">
            
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        
                            <table class="table-bordered table table-hover">
                                <thead>
                                    <tr>
                                        <th class="cart-item-img"></th>
                                        <th class="cart-product-name">Product Name</th>
                                        <th class="unit-price">Unit Price</th>
                                        <th class="quantity">Qty</th>
                                        <th class="subtotal">Subtotal</th>
                                        <th class="remove-icon"></th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                   {{range $key , $value := .Item}}

                                    <tr>
                                        <td class="cart-item-img">
                                            <a href="single-product.html">
                                                <img src="/public/img/cart/3.png" alt="">
                                            </a>
                                        </td>
                                        <input type="hidden" name="productID[{{$key}}]" value="{{.ProductId}}">
                                        <td class="cart-product-name">
                                            <a href="single-product.html">Cras neque metus</a>
                                        </td>
                                        <td class="unit-price">
                                            <span>{{.Price}}</span>
                                            <input type="hidden" value="{{.Price}}" name="unit-price[{{$key}}]">
                                        </td>
                                        <td class="quantity">
                                            <span>{{.Quantity}}</span>
                                            <input type="hidden" value="{{.Quantity}}" name="quantity[{{$key}}]">
                                            
                                        </td>
                                        <td class="subtotal">
                                            <span>{{.Price}}</span>
                                            <input type="hidden" value="{{.Price}}" name="subtotal[{{$key}}]">
                                        </td>
                                        <td class="remove-icon">
                                            <a href="#">
                                                <img src="/public/img/cart/btn_remove.png" alt="">
                                            </a>
                                        </td>
                                    </tr>
                                    {{end}}
                                </tbody>
                            </table>
                            <!-- <div class="shopping-button">
                                <div class="continue-shopping">
                                    <button type="submit">continue shopping</button>
                                </div>
                                <div class="shopping-cart-left">
                                    <button type="submit">Clear Shopping Cart</button>
                                    <button type="submit">Update Shopping Cart</button>
                                </div>
                            </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <div class="totals">
                        <h3>Sub Total <span>$500</span></h3>
                        <input type="hidden" value="500" name="totals">
                      
                        <div class="shopping-button">
                           {{if .name }}
                             {{ .csrfField }}
                            <button type="submit">checkout</button>
                            {{else}}
                             <button type="submit">Login before Checkout</button>
                             <a href="/login">Login Here</a>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- cart item area end -->
{{end}}