{{ define "title" }}Signle Product{{ end }}
{{ define "content" }}


<!-- single product area start -->
 <div class="Single-product-location home2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="location">
                    <ul>
                        <li><a href="index.html" title="go to homepage">Home<span>/</span></a>  </li>
                        <li><strong> {{range .Product}}{{.Name}} {{end}}</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> 

{{range $key , $value := .Product}}
<!-- single product area end -->
<!-- single product details start -->
 <div class="single-product-details">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="single-product-img">
                    <div class="single-pro-main-image">
                        <a href="#"><img id="optima_zoom" src="/public/img/product/{{.Image}}" data-zoom-image="img/product/{{.Image}}" alt="optima"/></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="single-product-details">
                    <a href="#" class="product-name">{{.Name}}</a>
                    <div class="list-product-info">
                        <div class="price-rating">
                            <div class="ratings">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <a href="#" class="review">1 Review(s)</a>
                                <a href="#" class="add-review">Add Your Review</a>
                            </div>
                        </div>
                    </div>
                    <div class="avalable">
                        <p>Availability:<span> In stock</span></p>
                    </div>
                    <div class="item-price">
                        <span>{{.Price}}$</span>
                    </div>
                    <div class="single-product-info">
                        <div class="share">
                            <img src="/public/img/product/share.png" alt="">
                        </div>
                    </div>
                    <div class="action">
                        <ul class="add-to-links">
                            <li>
                                <a href="#">
                                    <i class="fa fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-refresh"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="select-catagory">
                        <div class="color-select">
                            <label class="required">
                                <em>*</em> Color
                            </label>
                            <div class="input-box">
                                <select id="select-1">
                                    <option value="">-- Please Select --</option>
                                    <option value="{{.Color}}">{{.Color}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="size-select">
                            <label class="required">
                                <em>*</em> Size
                            </label>
                            <div class="input-box">
                                <select id="select-2">
                                    <option value="">-- Please Select --</option>
                                    <option value="{{.Size}}">{{.Size}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="cart-item">
                        <div class="single-cart">
                            <div class="cart-plus-minus">
                                <label>Qty: </label>
                                <input class="cart-plus-minus-box quantity" type="text" name="qtybutton" value="0">
                            </div>
                                <input class="id" type="hidden" value="{{.ID}}"> </input>
                                <input class="name" type="hidden" value="{{.Name}}"> </input>
                                <input class="image" type="hidden" value="{{.Image}}"> </input>
                                <input class="price" type="hidden" value="{{.Price}}"> </input>
                            <button class="cart-btn">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
{{end}}
<!-- single product details end -->
<!-- single product tab start -->
 <div class="single-product-tab-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single-product-tab">
                    <ul class="single-product-tab-navigation" role="tablist">
                        <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Product Description</a></li>
                        <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">reviews</a></li>
                        <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">product tag</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content single-product-page">
                        <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                            <div class="single-p-tab-content">
                                <p>Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Vivamus adipiscing nisl ut dolor dignissim semper. Nulla luctus malesuada tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer enim purus, posuere at ultricies eu, placerat a felis. Suspendisse aliquet urna pretium eros convallis interdum. Quisque in arcu id dui vulputate mollis eget non arcu. Aenean et nulla purus. Mauris vel tellus non nunc mattis lobortis. </p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab2">
                            <div class="single-p-tab-content">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="product-review">
                                            <p> <a href="#"> plaza</a> <span>Review by</span> plaza </p>
                                            <div class="product-rating-info">
                                                <p>value</p>
                                                <div class="ratings">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                            <div class="product-rating-info">
                                                <p>Quality</p>
                                                <div class="ratings">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                            <div class="product-rating-info">
                                                <p>Price</p>
                                                <div class="ratings">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                            <div class="review-date">
                                                <p>plaza <em> (Posted on 8/27/2015)</em></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="rate-product hidden-xs">
                                            <div class="rate-product-heading">
                                                <h3>You're reviewing: {{.Name}}</h3>
                                                <h3>How do you rate this product? <em>*</em></h3>
                                            </div>
                                            <form action="#">
                                                <table class="product-review-table">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>1 star</th>
                                                            <th>2 star</th>
                                                            <th>3 star</th>
                                                            <th>4 star</th>
                                                            <th>5 star</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th>Price</th>
                                                            <td> <input type="radio" class="radio" name="ratings[1]"> </td>
                                                            <td> <input type="radio" class="radio" name="ratings[1]"> </td>
                                                            <td> <input type="radio" class="radio" name="ratings[1]"> </td>
                                                            <td> <input type="radio" class="radio" name="ratings[1]"> </td>
                                                            <td> <input type="radio" class="radio" name="ratings[1]"> </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Value</th>
                                                            <td> <input type="radio" class="radio" name="ratings[2]"> </td>
                                                            <td> <input type="radio" class="radio" name="ratings[2]"> </td>
                                                            <td> <input type="radio" class="radio" name="ratings[2]"> </td>
                                                            <td> <input type="radio" class="radio" name="ratings[2]"> </td>
                                                            <td> <input type="radio" class="radio" name="ratings[2]"> </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Quality</th>
                                                            <td> <input type="radio" class="radio" name="ratings[3]"> </td>
                                                            <td> <input type="radio" class="radio" name="ratings[3]"> </td>
                                                            <td> <input type="radio" class="radio" name="ratings[3]"> </td>
                                                            <td> <input type="radio" class="radio" name="ratings[3]"> </td>
                                                            <td> <input type="radio" class="radio" name="ratings[3]"> </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <ul class="form-list">
                                                    <li>
                                                        <label> nickname <em>*</em> </label>
                                                        <input type="text">
                                                    </li>
                                                    <li>
                                                        <label> Summary of Your Review <em>*</em> </label>
                                                        <input type="text">
                                                    </li>
                                                    <li>
                                                        <label> Review <em>*</em> </label>
                                                        <textarea cols="3" rows="5"></textarea>
                                                    </li>
                                                </ul>
                                                <button type="submit"> submit review</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab3">
                            <div class="single-p-tab-content">
                                <div class="add-tab-title">
                                    <p> add your tag </p>
                                </div>
                                <div class="add-tag">
                                    <form action="#">
                                        <input type="text">
                                        <button type="submit">add tags</button>
                                    </form>
                                </div>
                                <p class="tag-rules">Use spaces to separate tags. Use single quotes (') for phrases.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<!-- single product tab end -->
<!-- related product area start-->
 <div class="related-product home2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-title">
                    <h2>related products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="related-slider">
                    {{range $key , $value := .ProductRelated}}
                
                <div class="col-md-12">
                    <div class="single-product">
                        <div class="product-img">
                            <a href="/single-product/{{.ID}}">
                                <img src="/public/img/product/{{.Image}}" alt="" class="first-img">
                            </a>
                        </div>
                        <div class="product-price">
                            <div class="product-name">
                                <a href="/single-product/{{.ID}}" title="{{.Name}}">{{.Name}}</a>
                            </div>
                            <div class="price-rating">
                                <span>{{.Price}}$</span>
                            </div>
                        </div>
                    </div>
                </div>
                    {{end}}
               
            </div>
        </div>
    </div>
</div> 
<!-- related product area end-->
{{ end }}