
{{ define "title" }} Home page {{end}}

{{ define "content" }}
    <!-- slider area start -->
    <div class="slider-area home2">
        <div class="bend niceties preview-2">
            <div id="nivoslider" class="slides">
                <img src="/public/img/slider/slider-3.jpg" alt="" title="#slider-direction-1"  />
                <img src="/public/img/slider/slider-4.jpg" alt="" title="#slider-direction-2"  />
            </div>
            <!-- direction 1 -->
            <div id="slider-direction-1" class="t-cn slider-direction">
                <div class="slider-progress"></div>
                <div class="slider-content t-lfl s-tb slider-1">
                    <div class="title-container s-tb-c title-compress">
                        <img src="/public/img/slider/slider-logo.png" alt="">
                        <h1 class="title1">Academy of sport</h1>
                        <h2 class="title2" >sports center james</h2>
                        <h3 class="title3" >Lorem Ipsum is simply dummy text of the printing</h3>
                        <a href="#"><span>read more</span></a>
                    </div>
                </div>
            </div>
            <!-- direction 2 -->
            <div id="slider-direction-2" class="slider-direction">
                <div class="slider-progress"></div>
                <div class="slider-content t-lfl s-tb slider-2">
                    <div class="title-container s-tb-c">
                        <img src="/public/img/slider/slider-logo.png" alt="">
                        <h1 class="title1">Academy of sport</h1>
                        <h2 class="title2" >sports center james</h2>
                        <h3 class="title3" >Lorem Ipsum is simply dummy text of the printing</h3>
                        <a href="#"><span>read more</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider area end -->
    <!-- service area start -->
    <div class="service-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-service">
                        <div class="sirvice-img">
                            <img src="/public/img/service/icon-1.png" alt="">
                        </div>
                        <div class="service-info">
                            <h3>FREE SHIPPING</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-service">
                        <div class="sirvice-img">
                            <img src="/public/img/service/icon-1.png" alt="">
                        </div>
                        <div class="service-info">
                            <h3>FREE SHIPPING</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-service">
                        <div class="sirvice-img">
                            <img src="/public/img/service/icon-1.png" alt="">
                        </div>
                        <div class="service-info">
                            <h3>FREE SHIPPING</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service area end -->

    <!-- feature products area start -->
    <div class="features-product home2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-title">
                        <h2>All Product</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="features-home2-slider">
                {{ range $key, $value := .Products}}
                    <div class="col-md-12">
                        <div class="single-product">
                            <div class="level-pro-new">
                                <span>new</span>
                            </div>
                            <div class="product-img">
                                <a href="single-product/{{.ID}}.html">
                                    <img src="/public/img/product/{{.Image}}" alt="" >
                                </a>
                            </div>
                            <div class="actions">
                                <button type="submit" class="cart-btn" title="Add to cart">add to cart</button>
                                <ul class="add-to-link">
                                    <li><a class="modal-view" data-target="#productModal" data-toggle="modal" href="#"> <i class="fa fa-search"></i></a></li>
                                    <li><a href="#"> <i class="fa fa-heart-o"></i></a></li>
                                    <li><a href="#"> <i class="fa fa-refresh"></i></a></li>
                                </ul>
                            </div>
                            <div class="product-price">
                                <div class="product-name">
                                    <a href="single-product/{{.ID}}.html" title="{{.Name}}">{{.Name}}</a>
                                </div>
                                <div class="price-rating">
                                    <span>{{.Price}}</span>
                                    <div class="ratings">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
    <!-- feature products area end -->
    
    <!-- blog area start -->
    <div class="blog-area home2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="blog-heading">
                        <h2>From <strong> The Blog</strong></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="single-home2-blog-post">
                        <div class="blog-img">
                            <a href="blog-details.html">
                                <img src="/public/img/blog/5.jpg" alt="">
                                <i class="fa fa-file-photo-o"></i>
                            </a>
                        </div>
                        <div class="blog-content">
                            <a href="blog-details.html" class="blog-title">Lorem ipsum dolor sit amet</a>
                            <span><a href="#">By plaza themes - </a>17 Aug 2015 ( 0 comments )</span>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna...</p>
                            <a href="blog-details.html" class="readmore">read more ></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="single-home2-blog-post">
                        <div class="blog-img">
                            <a href="blog-details.html">
                                <img src="/public/img/blog/6.jpg" alt="">
                                <i class="fa fa-file-photo-o"></i>
                            </a>
                        </div>
                        <div class="blog-content">
                            <a href="blog-details.html" class="blog-title">Lorem ipsum dolor sit amet</a>
                            <span><a href="#">By plaza themes - </a>17 Aug 2015 ( 0 comments )</span>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna...</p>
                            <a href="blog-details.html" class="readmore">read more ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog area end -->
    <!-- newsleter area start -->
    <div class="newsleter-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="newsleter">
                        <h3>newsletter</h3>
                        <p>Subscribe to the james mailing list to receive updates on new arrivals, special offers and other discount information.</p>
                        <div class="Subscribe">
                            <form action="#">
                                <input type="text" title="Sign up">
                                <button type="submit" title="Subscribe">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="follow">
                        <h3>follow</h3>
                        <p>Subscribe to the james mailing list to receive updates on new arrivals, special offers and other discount information.</p>
                        <ul class="follow-link">
                            <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                            <li><a href="#"> <i class="fa fa-rss"></i> </a></li>
                            <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                            <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- newsleter area end -->
{{ end }}