{{define "header"}}
<header>
    <div class="top-link">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-sm-9 hidden-xs">
                    <div class="site-option">
                        <ul>
                            <li class="currency"><a href="#">USD <i class="fa fa-angle-down"></i> </a>
                                <ul class="sub-site-option">
                                    <li><a href="#">Eur</a></li>
                                    <li><a href="#">Usd</a></li>
                                </ul>
                            </li>
                            <li class="language"><a href="#">English <i class="fa fa-angle-down"></i> </a>
                                <ul class="sub-site-option">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">English2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="call-support">
                        <p>Call support free: <span> (800) 123 456 789</span></p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3">
                    <div class="dashboard">
                        <div class="account-menu">
                            <ul>
                                <li class="search">
                                    <a href="#">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <ul class="search">
                                        <li>
                                            <form action="#">
                                                <input type="text">
                                                <button type="submit"> <i class="fa fa-search"></i> </button>
                                            </form>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                    <ul>
                                        {{if .name }}
                                        <li><a href="/">Chào {{.name}}</a></li>
                                        <li><a href="wishlist.html">my wishlist</a></li>
                                        <li><a href="cart.html">my cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="/my-account">My account</a></li>
                                        {{else}}
                                        <li><a href="/login">Log in</a></li>
                                        {{end}}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="cart-menu">
                            <ul>
                                <li><a href="#"> <img src="/public/img/icon-cart.png" alt=""> <span>2</span> </a>
                                    <div class="cart-info">
                                        <ul>
                                            <li>
                                                <div class="cart-img">
                                                    <img src="/public/img/cart/1.png" alt="">
                                                </div>
                                                <div class="cart-details">
                                                    <a href="#">Fusce aliquam</a>
                                                    <p>1 x $174.00</p>
                                                </div>
                                                <div class="btn-edit"></div>
                                                <div class="btn-remove"></div>
                                            </li>
                                            <li>
                                                <div class="cart-img">
                                                    <img src="/public/img/cart/2.png" alt="">
                                                </div>
                                                <div class="cart-details">
                                                    <a href="#">Fusce aliquam</a>
                                                    <p>1 x $777.00</p>
                                                </div>
                                                <div class="btn-edit"></div>
                                                <div class="btn-remove"></div>
                                            </li>
                                        </ul>
                                        <h3>Subtotal: <span> $951.00</span></h3>
                                        <a href="checkout.html" class="checkout">checkout</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mainmenu-area home2 bg-color-tr product-items">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="/">
                            <img src="/public/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="mainmenu">
                        <nav>
                            <ul>
                                 {{ range $key, $value := .cats}}
                                <li><a href="#">{{.Name}}</a>
                                </li>
                                {{end}}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mobile-menu">
                        <nav>
                            <ul>
                                 {{ range $key, $value := .cat}}
                                <li><a href="index.html">{{.Name}}</a>
                                </li>
                                {{end}}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{{end}}