{{define "slider"}}
<!-- slider area start -->
<div class="slider-area home2">
    <div class="bend niceties preview-2">
        <div id="nivoslider" class="slides">
            <img src="/public/img/slider/slider-3.jpg" alt="" title="#slider-direction-1"  />
            <img src="/public/img/slider/slider-4.jpg" alt="" title="#slider-direction-2"  />
        </div>
        <!-- direction 1 -->
        <div id="slider-direction-1" class="t-cn slider-direction">
            <div class="slider-progress"></div>
            <div class="slider-content t-lfl s-tb slider-1">
                <div class="title-container s-tb-c title-compress">
                    <img src="/public/img/slider/slider-logo.png" alt="">
                    <h1 class="title1">Academy of sport</h1>
                    <h2 class="title2" >sports center james</h2>
                    <h3 class="title3" >Lorem Ipsum is simply dummy text of the printing</h3>
                    <a href="#"><span>read more</span></a>
                </div>
            </div>
        </div>
        <!-- direction 2 -->
        <div id="slider-direction-2" class="slider-direction">
            <div class="slider-progress"></div>
            <div class="slider-content t-lfl s-tb slider-2">
                <div class="title-container s-tb-c">
                    <img src="/public/img/slider/slider-logo.png" alt="">
                    <h1 class="title1">Academy of sport</h1>
                    <h2 class="title2" >sports center james</h2>
                    <h3 class="title3" >Lorem Ipsum is simply dummy text of the printing</h3>
                    <a href="#"><span>read more</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider area end -->
{{end}}